version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"

  - package-ecosystem: "maven"
    directory: "/"
    target-branch: "jetty-9.4.x"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "org.eclipse.jetty:jetty-webapp"
        versions: [ ">=10.0.0" ]

  - package-ecosystem: "maven"
    directory: "/"
    target-branch: "jetty-10.0.x"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "org.eclipse.jetty:jetty-webapp"
        versions: [ "<=10.0.0", ">=11.0.0" ]

  - package-ecosystem: "maven"
    directory: "/"
    target-branch: "jetty-11.0.x"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "org.eclipse.jetty:jetty-webapp"
        versions: [ ">=12.0.0" ]
